[submodule "tool/baidux"]
	path = tool/baidux
	url = https://github.com/wolfbolin/baidux.git
[submodule "tool/unlock-music"]
	path = tool/unlock-music
	url = https://github.com/ix64/unlock-music.git
	branch = gh-pages
